td, th {
  border: 3px solid;
  background-color: #184f5f81;
  text-align: center;
}
h1{
  color: white;
  font-family: system-ui;
  text-align: center;
  font: bold 65px system-ui;
  background-image: linear-gradient(to left, rgb(241, 124, 124), hsl(162, 81%, 58%), rgb(112, 22, 175), hsl(162, 81%, 58%), cyan);
  border-radius: 10px; 
}
body{
  background-image: url(../images/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: hsl(162, 81%, 58%);
  font-size: 30px;
}
#planets{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
td:hover{
  background-color: #5D3FD3;
  color: white;
}
th:hover{
  font-size: 20px;
  color: #E6E6FA;
  font-family: system-ui;
}
.moon{
  border:1px double;
  border-radius: 20px;
  padding:0.03em 0.25em;
  background: linear-gradient(rgb(93, 84, 175), rgb(13, 13, 223));
  font: bold 20px system-ui;
}
.st1:hover{
  background: linear-gradient(to bottom left, cyan 50%, palegoldenrod 50%);
}
.st2:hover{
  background: linear-gradient(blue, 10%, pink);
}
.st3:hover{
  background: linear-gradient(blue, pink);
}
.st4:hover{
  background: linear-gradient(
    to left,
    lime 20%,
    rgb(219, 16, 16) 30%,
    rgb(219, 111, 111) 45%,
    cyan 55%,
    rgb(65, 110, 110) 70%,
    rgb(153, 153, 96) 80%
  );
  background: linear-gradient(
    to left,
    lime 20%,
    rgb(180, 110, 110) 30% 45%,
    cyan 55% 70%,
    rgb(224, 224, 72) 80%
  );
}
.st5:hover{
  background: linear-gradient(to top, rgb(127, 216, 127), rgb(41, 190, 190));
}
.st6:hover{
  background: linear-gradient(
    215deg,
    rgba(255, 0, 0, 0.8),
    rgba(255, 0, 0, 0) 70.71%
  ), linear-gradient(127deg, rgba(117, 224, 117, 0.8), rgba(0, 255, 0, 0) 70.71%),
  linear-gradient(336deg, rgba(76, 76, 102, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
.st7:hover{
  background: radial-gradient(rgb(211, 103, 103), rgb(64, 64, 163));
}
.stat{
  border:1px double;
  border-radius: 25px;
  background: linear-gradient(#a4b8c4, #080881);
  font: bold 20px system-ui;
  letter-spacing: 3px;
}
img:hover{
  width: 200px;
  height: auto;
}